@font-face {
  font-family: Pokemon;
  src: url(../../../public/fonts/PokemonGb.ttf);
};

.words {
  @keyframes move{
    50% { transform: translateY(-15px); }
  }

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: Pokemon;
  border-radius: 2px;
  padding: 10px;
  width: 550px;
  height: 40px;
  line-height: 16px;
  margin: 16px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;

  .top {
    text-align: left top;
  }

  .currentWord {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: Pokemon, Arial, sans-serif;
  }

  .bottom {
    text-align: right bottom;
  }
};

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input {
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    height: 40px;
    width: 400px;
    font-size: 20px;
  }

  .submitButton {
    display: none;
  }

  .hintButton {
    margin: 10px;
    font-size: 20px;
  }

  .hint {
    p {
      background: white;
      font-size: 20px;
    }
  }

  .quit {
    background-color: red;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
  }

  .noHint {
    p {
      display: none;
    }
  }
};

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(0deg, white, white 49%, black 51%, red 51%);
  border-radius: 50%;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #000;
  height:200px;
  width: 200px;
  margin: 16px;
}

.innerTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 30px;
  border-style: solid;
  border-color: black;
  border-width: 3px 3px 0 3px;
  z-index: 2;
  position: sticky;
}

.rock {
  animation: rock 4s ease-in-out infinite;
}

@keyframes rock {
	0% {
    transform: rotate(-10deg);
  }
  50% {
    transform:rotate(10deg);
    }
  100% {
    transform:rotate(-10deg);
  }
}



@media only screen and (max-width: 414px) {

  .words {
    @keyframes move{
      50% { transform: translateY(-15px); }
    }

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: Pokemon;
    border-radius: 2px;
    padding: 10px;
    width: 415px;
    height: 40px;
    line-height: 16px;
    margin: 16px;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;

    .top {
      text-align: left top;
    }

    .currentWord {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 16px;
      font-family: Pokemon, Arial, sans-serif;
    }

    .bottom {
      text-align: right bottom;
    }
  };

  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
      text-align: center;
      border: none;
      border-bottom: 1px solid black;
      border-radius: 8px;
      padding: 10px;
      height: 40px;
      width: 400px;
      font-size: 20px;
    }

    .submitButton {
      display: none;
    }

    .hintButton {
      margin: 10px;
      font-size: 20px;
    }

    .hint {
      p {
        background: white;
        font-size: 20px;
      }
    }

    .quit {
      background-color: red;
      color: white;
      border-radius: 10px;
      margin: 10px;
      padding: 5px;
      cursor: pointer;
    }

    .noHint {
      p {
        display: none;
      }
    }
  };

  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg, white, white 49%, black 51%, red 51%);
    border-radius: 50%;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000;
    height:200px;
    width: 200px;
    margin: 16px;
  }

  .innerTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-width: 3px 3px 0 3px;
    z-index: 2;
    position: sticky;
  }

  .rock {
    animation: rock 4s ease-in-out infinite;
  }

  @keyframes rock {
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform:rotate(10deg);
      }
    100% {
      transform:rotate(-10deg);
    }
  }
}