.first-element {
  background-color: white;
  color: black;
}

.shepherd-button-primary {
  background-color: red;
  color: black;
}

.shepherd-button-secondary {
  background-color: gray;
  color: white;
}

.button {
  background-color: white;
}